footer.footer.mt-5
  .subscribe-block.mb-4
    .container
      .row
        .col-lg-8.col-md-12.mb-4
          img(src='/img/iaato.png', alt='IAATO')
          img(src='/img/authentic.png', alt='Authentic')
          img(src='/img/clean_up_svalbard.png', alt='Clean Up Svalbard')
          img(src='/img/logo_atta_for_site_2.png', alt='ATTA')
          img(src='/img/pbi.png', alt='Polar bear international')
          img(src='/img/aeco.png', alt='AECO')
        .col-lg-4.col-md-12
          form(action='#', method='post')
            .subs-group
              p.d-block.mb-1.font-weight-bolder.text-uppercase Join our newsleter
              p.d-block.mb-2 Latest news, tips and deals
            .input-group
              input.form-control(name='email', type='text', placeholder='Email address')
              span.input-group-btn
                button.btn.btn-default.btn-primary(type='submit') JOIN

#accordionExample.accordion.mb-3
  .container
    .row.footer-menu
      .col-md-3.col-sm-12 
        label.font-weight-bolder.d-none.d-md-block 
          | Our Destinations        
        #headingOne.border.d-md-none
          h2
            button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
              | Our Destinations           
        ul#collapseOne.collapse.d-md-block.pl-sm-3.pt-2.p-md-0(data-parent='#accordionExample')
          li
            a(href='#') Antarctica
          li
            a(href='#') Arctic
          li
            a(href='#') North Pole
          li.mt-3
            a(href='#') Special offers
      .col-md-3.col-sm-12 
        label.font-weight-bolder.d-none.d-md-block 
              | Travel Information        
        #headingTwo.border.d-md-none
          h2
            button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='true', aria-controls='collapseTwo')
              | Travel Information           
        ul#collapseTwo.collapse.d-md-block.pl-sm-3.pt-2.p-md-0(data-parent='#accordionExample')
          li
            a(href='#') Activities
          li
            a(href='#') Our expedition parka
          li
            a(href='#') How to pack
          li
            a(href='#') High Latitudes Loyalty Program
          li
            a(href='#') FAQ
          li
            a(href='#') Terms & Conditions
      .col-md-3.col-sm-12 
        label.font-weight-bolder.d-none.d-md-block 
          | About us       
        #headingThree.border.d-md-none
          h2
            button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='true', aria-controls='collapseThree')
              | About us       
        ul#collapseThree.collapse.d-md-block.pl-sm-3.pt-2.p-md-0(data-parent='#accordionExample')
          li
            a(href='#') Company info
          li
            a(href='#') Our Ships
          li
            a(href='#') Expedition team
          li
            a(href='#') Brochures
          li
            a(href='#') Press Room
          li
            a(href='#') Careers
      .col-md-3.col-sm-12 
        label.font-weight-bolder.d-none.d-md-block 
          | Contacts  
        #headingFour.border.d-md-none
          h2
            button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseFour', aria-expanded='true', aria-controls='collapseFour')
              | Contacts
        ul#collapseFour.collapse.d-md-block.pl-sm-3.pt-2.p-md-0(data-parent='#accordionExample')
          li
            a(href='#') Send Feedback


.container
  .row
    .col-md-8.col-sm-12
      p.copyright
        | © 1999-2019 Poseidon Expeditions.
        a.ml-1(target='_blank', href='#') Privacy Policy
    .col-md-4.col-sm-12
      p.socio-block
        a(href='#', target='_blank')
          i.icon-twitter
        a(href='#', target='_blank')
          i.icon-facebook
        a(href='#', target='_blank')
          i.icon-instagram
        a(href='#', target='_blank')
          i.icon-youtube

        

