footer.footer.mt-5
  .subscribe-block.mb-4
    .container
      .row
        .col-lg-8.col-md-12.mb-4
          img(src='/img/iaato.png', alt='IAATO')
          img(src='/img/authentic.png', alt='Authentic')
          img(src='/img/clean_up_svalbard.png', alt='Clean Up Svalbard')
          img(src='/img/logo_atta_for_site_2.png', alt='ATTA')
          img(src='/img/pbi.png', alt='Polar bear international')
          img(src='/img/aeco.png', alt='AECO')
        .col-lg-4.col-md-12
          form(action='#', method='post')
            .input-group.subs-group
              p.d-block.mb-1.font-weight-bolder.text-uppercase Join our newsleter
              p.mb-2 Latest news, tips and deals
              .input-group
                input.form-control(name='email', type='text', placeholder='Email address')
                span.input-group-btn
                  button.btn.btn-default.btn-primary(type='submit') JOIN

  .container
    .row.footer-menu
      .col-3
        label.font-weight-bolder 
          | Our Destinations       
        ul
          li
            a(href='#') Antarctica
          li
            a(href='#') Arctic
          li
            a(href='#') North Pole
          li.mt-3
            a(href='#') Special offers
      .col-3
        label.font-weight-bolder 
          | Travel Information       
        ul
          li
            a(href='#') Activities
          li
            a(href='#') Our expedition parka
          li
            a(href='#') How to pack
          li
            a(href='#') High Latitudes Loyalty Program
          li
            a(href='#') FAQ
          li
            a(href='#') Terms & Conditions
      .col-3
        label.font-weight-bolder 
          | About us       
        ul
          li
            a(href='#') Company info
          li
            a(href='#') Our Ships
          li
            a(href='#') Expedition team
          li
            a(href='#') Brochures
          li
            a(href='#') Press Room
          li
            a(href='#') Careers
      .col-3
        label.font-weight-bolder
          | Contacts       
        ul
          li
            a(href='#') Send Feedback

  .container
    .row
      .col-8
        p.copyright
          | © 1999-2019 Poseidon Expeditions.
          a.ml-1(target='_blank', href='#') Privacy Policy
      .col-4
        p.socio-block
          a(href='#', target='_blank')
            i.icon-twitter
          a(href='#', target='_blank')
            i.icon-facebook
          a(href='#', target='_blank')
            i.icon-instagram
          a(href='#', target='_blank')
            i.icon-youtube

//- .row
//-   button.btn.btn-primary.d-none.d-sm-block.d-md-none(type='button', data-toggle='collapse', data-target='#collapseExample', aria-expanded='false', aria-controls='collapseExample')
//-     | Collapse Button
//-   #collapseExample.collapse.dont-collapse-sm
//-     .well
//-       | Collapse Panel

//- .container.mb-5
//-   .row.footer-menu
//-     .col-12
//-       #accordionExample.accordion

//-         label.font-weight-bolder.d-none.d-md-block.d-xl-none 
//-           | Contacts     
//-         .border.d-none.d-sm-block.d-md-none
//-           #headingOne
//-             h2.mb-0
//-               button.btn.btn-link.my.mb-1(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
//-                 | Contacts
        
//-         ul#collapseOne.d-md-block(data-parent='#accordionExample')
//-           li
//-             a(href='#') Company info
//-           li
//-             a(href='#') Our Ships
//-           li
//-             a(href='#') Expedition team
//-           li
//-             a(href='#') Brochures
//-           li
//-             a(href='#') Press Room
//-           li
//-             a(href='#') Careers
        

//-         label.font-weight-bolder.d-none.d-md-block.d-xl-none 
//-           | Contacts     
//-         .border.d-none.d-sm-block.d-md-none
//-           #headingOne
//-             h2.mb-0
//-               button.btn.btn-link.my.mb-1(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
//-                 | Contacts
        
//-         ul#collapseOne.d-md-block(data-parent='#accordionExample')
//-           li
//-             a(href='#') Company info
//-           li
//-             a(href='#') Our Ships
//-           li
//-             a(href='#') Expedition team
//-           li
//-             a(href='#') Brochures
//-           li
//-             a(href='#') Press Room
//-           li
//-             a(href='#') Careers
        

#accordionExample.accordion.mb-5
  label.font-weight-bolder.d-none.d-md-block 
    | Contacts  
  #headingOne.border.d-none.d-sm-block.d-md-none
    h2
      button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
        | CONTACTS
  ul#collapseOne.collapse.d-md-block.pl-sm-3.pt-sm-2.p-md-0(data-parent='#accordionExample')
    li
      a(href='#') Company info
    li
      a(href='#') Our Ships
    li
      a(href='#') Expedition team
    li
      a(href='#') Brochures
    li
      a(href='#') Press Room
    li
      a(href='#') Careers
